* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --delay: 0.1s;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: auto;
  padding: 2rem;
}
.grid_item {
  width: 100%;
  height: 300px;
}
.item_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.color_box {
  border-radius: 10px;
  width: 100%;
  height: 50%;
  --hue: 0;
  --lum: 0%;
  --sat: 0%;
}
.color_codes {
  width: 100%;
  height: 50%;
  padding-top: 0.5rem;
}
.color_codes p {
  padding-top: 0.5rem;
  font-weight: 600;
}
.color {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.radio_wrapper {
  padding: 0 1rem 0 0;
}
label {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
input {
  margin-top: 0.7rem;
}
.c3 {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 7px 2px black;
}
.clicky {
  margin: 0 auto;
  font-size: 1rem;
  padding-left: 0;
  font-weight: 600;
  cursor: pointer;
}
.hide {
  transition: 1s;
  opacity: 0;
}

/*COLOR CLASSES*/

/*ANALOGOUS*/
[data-color="c1ana"] {
  background-color: hsl(calc(var(--hue) - 30), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c2ana"] {
  background-color: hsl(calc(var(--hue) - 15), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c3ana"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c4ana"] {
  background-color: hsl(calc(var(--hue) + 15), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c5ana"] {
  background-color: hsl(calc(var(--hue) + 30), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}

/*MONOCROMATIC*/
[data-color="c1mono"] {
  background-color: hsl(var(--hue), 10%, calc(var(--lum) * 1%));
}
[data-color="c2mono"] {
  background-color: hsl(var(--hue), 30%, calc(var(--lum) * 1%));
}
[data-color="c3mono"] {
  background-color: hsl(var(--hue), 50%, calc(var(--lum) * 1%));
}
[data-color="c4mono"] {
  background-color: hsl(var(--hue), 70%, calc(var(--lum) * 1%));
}

[data-color="c5mono"] {
  background-color: hsl(var(--hue), 90%, calc(var(--lum) * 1%));
}

/*TRIAD*/
[data-color="c1tri"] {
  background-color: hsl(calc(var(--hue) + 240), calc(var(--sat) * 1%), 60%);
}
[data-color="c2tri"] {
  background-color: hsl(calc(var(--hue) + 120), calc(var(--sat) * 1%), 50%);
}
[data-color="c3tri"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), 50%);
}
[data-color="c4tri"] {
  background-color: hsl(calc(var(--hue) + 60), calc(var(--sat) * 1%), 50%);
}

[data-color="c5tri"] {
  background-color: hsl(calc(var(--hue) + 180), calc(var(--sat) * 1%), 40%);
}

/*COMPLEMENTARY*/
[data-color="c1compl"] {
  background-color: hsl(calc(var(--hue) + 180), calc(var(--sat) * 1%), 50%);
}
[data-color="c2compl"] {
  background-color: hsl(calc(var(--hue) + 0), calc(var(--sat) * 1%), 50%);
}
[data-color="c3compl"] {
  background-color: hsl(calc(var(--hue) + 180), calc(var(--sat) * 1%), 70%);
}
[data-color="c4compl"] {
  background-color: hsl(calc(var(--hue) + 0), calc(var(--sat) * 1%), 70%);
}

[data-color="c5compl"] {
  background-color: hsl(calc(var(--hue) + 180), calc(var(--sat) * 10%), 70%);
}

/*COMPOUND*/
[data-color="c1compo"] {
  background-color: hsl(calc(var(--hue) + 10), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c2compo"] {
  background-color: hsl(calc(var(--hue) + 0), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c3compo"] {
  background-color: hsl(calc(var(--hue) + 160), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}
[data-color="c4compo"] {
  background-color: hsl(calc(var(--hue) + 170), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}

[data-color="c5compo"] {
  background-color: hsl(calc(var(--hue) + 180), calc(var(--sat) * 1%), calc(var(--lum) * 1%));
}

/*SHADES*/
[data-color="c1sha"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), 20%);
}
[data-color="c2sha"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), 33%);
}
[data-color="c3sha"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), 50%);
}
[data-color="c4sha"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), 65%);
}

[data-color="c5sha"] {
  background-color: hsl(var(--hue), calc(var(--sat) * 1%), 80%);
}

.cool_wrapper {
  width: 100%;
  display: flex;
}

#cooltext {
  /*  margin: 0 auto; */
  padding-top: 3vh;
  padding-left: 3.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

span {
  transform: translateY(100vh);
  display: inline-block;
}

.fade_in {
  animation-name: fade_in_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.17, 0.67, 1, 0.29);
  animation-fill-mode: forwards;
  animation-delay: var(--delay);
}

@keyframes fade_in_kf {
  0% {
    opacity: 0;
    transform: translateY(-2vh);
  }
  50% {
    opacity: 1;
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.tip {
  animation-name: tip_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes tip_kf {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
