* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.grid_item {
  width: 100%;
  height: 300px;
}
.item_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.color_box {
  border-radius: 10px;
  width: 100%;
  height: 50%;
  --hue: 0;
  --lum: 0%;
  --sat: 0%;
}

.color_codes {
  width: 100%;
  height: 50%;
  padding-top: 0.5rem;
}

.color_codes p {
  padding-top: 0.5rem;
  font-weight: 600;
}

.color {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio_wrapper {
  padding: 0 1rem 0 0;
}
label {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

input {
  margin-top: 0.7rem;
}

.c3 {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 7px 2px black;
}
.clicky {
  margin: 0 auto;
  font-size: 1rem;
  padding-left: 0;
  font-weight: 600;
  cursor: pointer;
}
.hide {
  transition: 1s;
  opacity: 0;
}

/*COLOR CLASSES*/

/*ANALOGOUS*/
[data-color="c1ana"] {
  background-color: hsl(calc(var(--hue) - 30), 50%, 50%);
}
[data-color="c2ana"] {
  background-color: hsl(calc(var(--hue) - 15), 50%, 50%);
}
[data-color="c3ana"] {
  background-color: hsl(var(--hue), 50%, 50%);
}
[data-color="c4ana"] {
  background-color: hsl(calc(var(--hue) + 15), 50%, 50%);
}
[data-color="c5ana"] {
  background-color: hsl(calc(var(--hue) + 30), 50%, 50%);
}

/*MONOCROMATIC*/
[data-color="c1mono"] {
  background-color: hsl(var(--hue), 10%, 50%);
}
[data-color="c2mono"] {
  background-color: hsl(var(--hue), 30%, 50%);
}
[data-color="c3mono"] {
  background-color: hsl(var(--hue), 50%, 50%);
}
[data-color="c4mono"] {
  background-color: hsl(var(--hue), 70%, 50%);
}

[data-color="c5mono"] {
  background-color: hsl(var(--hue), 90%, 50%);
}

/*TRIAD*/
[data-color="c1tri"] {
  background-color: hsl(calc(var(--hue) + 240), 50%, 60%);
}
[data-color="c2tri"] {
  background-color: hsl(calc(var(--hue) + 120), 50%, 50%);
}
[data-color="c3tri"] {
  background-color: hsl(var(--hue), 50%, 50%);
}
[data-color="c4tri"] {
  background-color: hsl(calc(var(--hue) + 60), 50%, 50%);
}

[data-color="c5tri"] {
  background-color: hsl(calc(var(--hue) + 180), 50%, 40%);
}

/*COMPLEMENTARY*/
[data-color="c1compl"] {
  background-color: hsl(calc(var(--hue) + 180), 50%, 50%);
}
[data-color="c2compl"] {
  background-color: hsl(calc(var(--hue) + 0), 50%, 50%);
}
[data-color="c3compl"] {
  background-color: hsl(calc(var(--hue) + 180), 50%, 70%);
}
[data-color="c4compl"] {
  background-color: hsl(calc(var(--hue) + 0), 50%, 70%);
}

[data-color="c5compl"] {
  background-color: hsl(calc(var(--hue) + 180), 10%, 70%);
}

/*COMPOUND*/
[data-color="c1compo"] {
  background-color: hsl(calc(var(--hue) + 10), 50%, 50%);
}
[data-color="c2compo"] {
  background-color: hsl(calc(var(--hue) + 0), 50%, 50%);
}
[data-color="c3compo"] {
  background-color: hsl(calc(var(--hue) + 160), 50%, 50%);
}
[data-color="c4compo"] {
  background-color: hsl(calc(var(--hue) + 170), 50%, 50%);
}

[data-color="c5compo"] {
  background-color: hsl(calc(var(--hue) + 180), 50%, 50%);
}

/*SHADES*/
[data-color="c1sha"] {
  background-color: hsl(var(--hue), 50%, 20%);
}
[data-color="c2sha"] {
  background-color: hsl(var(--hue), 50%, 33%);
}
[data-color="c3sha"] {
  background-color: hsl(var(--hue), 50%, 50%);
}
[data-color="c4sha"] {
  background-color: hsl(var(--hue), 50%, 65%);
}

[data-color="c5sha"] {
  background-color: hsl(var(--hue), 50%, 80%);
}
